DB_USER={your DB user name}
DB_PASSWORD={your Db Password}
DB_DATA={your DB name}
DB_PORT={your port DB}
DB_HOST={your Host DB}

JWT_KEY={your key JWT}
JWT_ISSUER={your JWT issuer}

REDIS_HOST={your Redis Host}
REDIS_PORT={your Redis port}
REDIS_USERNAME={your username redis}
REDIS_PASSWORD={your Password redis}
